### Exercises

##### * Getting rid of unnecesary columns
##### * Melting columns
##### * Removing unnecesary characters
##### * Grouping into categories

In [ ]:
import pandas as pd
import numpy as np

In [2]:
food_df=pd.read_csv('c:FAO.csv', encoding='latin-1')
food = food_df

In [3]:
food.head(100)

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ALB,3,Albania,2518,Sorghum and products,5521,Feed,1000 tonnes,41.15,20.17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
96,ALB,3,Albania,2520,"Cereals, Other",5521,Feed,1000 tonnes,41.15,20.17,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
97,ALB,3,Albania,2520,"Cereals, Other",5142,Food,1000 tonnes,41.15,20.17,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
98,ALB,3,Albania,2532,Cassava and products,5142,Food,1000 tonnes,41.15,20.17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
99,ALB,3,Albania,2531,Potatoes and products,5521,Feed,1000 tonnes,41.15,20.17,...,43.0,44.0,38.0,21.0,60.0,64.0,69.0,69.0,68,75

In [4]:
food.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea", 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [5]:
food.loc[food.Area == 'Mexico']

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
12721,MEX,138,Mexico,2511,Wheat and products,5521,Feed,1000 tonnes,23.63,-102.55,...,68.0,77.0,76.0,75.0,80.0,80.0,83.0,89.0,65,67
12722,MEX,138,Mexico,2511,Wheat and products,5142,Food,1000 tonnes,23.63,-102.55,...,3775.0,3789.0,3811.0,3923.0,3813.0,3886.0,4008.0,4123.0,4104,4308
12723,MEX,138,Mexico,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,23.63,-102.55,...,561.0,596.0,672.0,661.0,604.0,646.0,627.0,686.0,631,690
12724,MEX,138,Mexico,2513,Barley and products,5521,Feed,1000 tonnes,23.63,-102.55,...,427.0,314.0,404.0,298.0,296.0,281.0,276.0,196.0,428,250
12725,MEX,138,Mexico,2513,Barley and products,5142,Food,1000 tonnes,23.63,-102.55,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12849,MEX,138,Mexico,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,23.63,-102.55,...,11984.0,12213.0,11923.0,12381.0,12536.0,12655.0,12576.0,13272.0,13779,13685
12850,MEX,138,Mexico,2960,"Fish, Seafood",5521,Feed,1000 tonnes,23.63,-102.55,...,403.0,387.0,123.0,138.0,97.0,81.0,85.0,224.0,224,224
12851,MEX,138,Mexico,2960,"Fish, Seafood",5142,Food,1000 tonnes,23.63,-102.55,...,1114.0,1228.0,1311.0,1397.0,1439.0,1363.0,1430.0,1280.0,1280,1280
12852,MEX,138,Mexico,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,23.63,-102.55,...,3.0,3.0,3.0,3.0,3.0,4.0,5.0,19.0,19,19
12853,MEX,138,Mexico,2928,Miscellaneous,5142,Food,1000 tonnes,23.63,-102.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [6]:
# Dropping unnessesary columns

columns_to_drop = ['Area Abbreviation', 'Area Code', 'Item Code','Element Code', 'Unit', 'latitude', 'longitude']
food.drop(columns_to_drop, axis=1, inplace=True)

food

,Area,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,Afghanistan,Wheat and products,Food,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,Afghanistan,Rice (Milled Equivalent),Food,183.0,183.0,182.0,220.0,220.0,195.0,231.0,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,Afghanistan,Barley and products,Feed,76.0,76.0,76.0,76.0,76.0,75.0,71.0,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,Afghanistan,Barley and products,Food,237.0,237.0,237.0,238.0,238.0,237.0,225.0,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,Afghanistan,Maize and products,Feed,210.0,210.0,214.0,216.0,216.0,216.0,235.0,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,Zimbabwe,Milk - Excluding Butter,Food,230.0,232.0,234.0,238.0,234.0,231.0,231.0,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
21473,Zimbabwe,"Fish, Seafood",Feed,27.0,25.0,27.0,23.0,27.0,29.0,28.0,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
21474,Zimbabwe,"Fish, Seafood",Food,6.0,6.0,6.0,8.0,9.0,10.0,10.0,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
21475,Zimbabwe,"Aquatic Products, Other",Food,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
21476,Zimbabwe,Miscellaneous,Food,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [7]:
# Melting year columns showing food quantity and feed consumption to be melted 

columns_to_stay= ['Area', 'Item', 'Element']

food = pd.melt(food, id_vars=columns_to_stay, var_name='Year', value_name ='Weight (1000 tons)')
food

,Area,Item,Element,Year,Weight (1000 tons)
0,Afghanistan,Wheat and products,Food,Y1961,1928.0
1,Afghanistan,Rice (Milled Equivalent),Food,Y1961,183.0
2,Afghanistan,Barley and products,Feed,Y1961,76.0
3,Afghanistan,Barley and products,Food,Y1961,237.0
4,Afghanistan,Maize and products,Feed,Y1961,210.0
...,...,...,...,...,...
1138276,Zimbabwe,Milk - Excluding Butter,Food,Y2013,451.0
1138277,Zimbabwe,"Fish, Seafood",Feed,Y2013,15.0
1138278,Zimbabwe,"Fish, Seafood",Food,Y2013,40.0
1138279,Zimbabwe,"Aquatic Products, Other",Food,Y2013,0.0
1138280,Zimbabwe,Miscellaneous,Food,Y2013,0.0

In [8]:
# Removing the Y from year

food.Year = food.Year.str.strip('Y').astype(int)

In [9]:
food

,Area,Item,Element,Year,Weight (1000 tons)
0,Afghanistan,Wheat and products,Food,1961,1928.0
1,Afghanistan,Rice (Milled Equivalent),Food,1961,183.0
2,Afghanistan,Barley and products,Feed,1961,76.0
3,Afghanistan,Barley and products,Food,1961,237.0
4,Afghanistan,Maize and products,Feed,1961,210.0
...,...,...,...,...,...
1138276,Zimbabwe,Milk - Excluding Butter,Food,2013,451.0
1138277,Zimbabwe,"Fish, Seafood",Feed,2013,15.0
1138278,Zimbabwe,"Fish, Seafood",Food,2013,40.0
1138279,Zimbabwe,"Aquatic Products, Other",Food,2013,0.0
1138280,Zimbabwe,Miscellaneous,Food,2013,0.0

In [10]:
food.loc[food.Item.isnull()]

Empty DataFrame
Columns: [Area, Item, Element, Year, Weight (1000 tons)]
Index: []

In [11]:
# Replacing null values 

food.Item.replace(np.NaN, 'Cloves', inplace=True)

In [12]:
# Grouping 
# Checking the unique values for Items

food.Item.unique()

array(['Wheat and products', 'Rice (Milled Equivalent)',
       'Barley and products', 'Maize and products', 'Millet and products',
       'Cereals, Other', 'Potatoes and products', 'Sugar cane',
       'Sugar beet', 'Sugar (Raw Equivalent)', 'Sweeteners, Other',
       'Honey', 'Pulses, Other and products', 'Nuts and products',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palm Oil', 'Sesameseed Oil', 'Olive Oil', 'Oilcrops Oil, Other',
       'Tomatoes and products', 'Vegetables, Other',
       'Oranges, Mandarines', 'Citrus, Other', 'Bananas',
       'Apples and products', 'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Pepper', 'Spices, Other', 'Wine', 'Beer',
       'Beverages, Alcoholic', 'Bovine Meat', 'Mutton & Goat Meat',
       'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Butter, Ghee',
       'Cream', 'Fats, Animals, Raw', 'Eggs', 'Milk - Excluding Butter',
       'Freshwater Fish', 'Infant food', 'Cereals - Excluding Beer',
       'Starchy Roots', 'Sugar Crops', 'Sugar & Sweeteners', 'Pulses',
       'Treenuts', 'Oilcrops', 'Vegetable Oils', 'Vegetables',
       'Fruits - Excluding Wine', 'Stimulants', 'Spices',
       'Alcoholic Beverages', 'Meat', 'Offals', 'Animal fats',
       'Fish, Seafood', 'Miscellaneous', 'Rye and products', 'Oats',
       'Sorghum and products', 'Cassava and products', 'Sweet potatoes',
       'Roots, Other', 'Beans', 'Peas', 'Soyabeans',
       'Groundnuts (Shelled Eq)', 'Rape and Mustardseed',
       'Oilcrops, Other', 'Maize Germ Oil', 'Onions',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Plantains', 'Pimento', 'Beverages, Fermented', 'Pigmeat',
       'Fish, Body Oil', 'Fish, Liver Oil', 'Demersal Fish',
       'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods',
       'Molluscs, Other', 'Aquatic Animals, Others', 'Aquatic Plants',
       'Aquatic Products, Other', 'Palm kernels', 'Coconut Oil', 'Cloves',
       'Palmkernel Oil', 'Yams', 'Sunflower seed', 'Cottonseed',
       'Sugar non-centrifugal', 'Ricebran Oil', 'Meat, Aquatic Mammals'],
      dtype=object)

In [13]:
len(food.Item.unique())

115

In [14]:
food['Item'].dtype

dtype('O')

In [15]:
# Creating lists of groups based on FAO categorization 

grains = ['Rice (Milled Equivalent)','Wheat and products', 'Barley and products','Maize and products',
          'Millet and products','Cereals, Other','Cereals - Excluding Beer','Rye and products','Oats',
          'Sorghum and products','Cassava and products']

fruits = ['Olives (including preserved)','Olives (including preserved)', 'Tomatoes and products','Oranges, Mandarines','Citrus, Other',
          'Bananas','Apples and products','Pineapples and products','Dates','Grapes and products (excl wine)',
          'Fruits, Other','Fruits - Excluding Wine','Lemons, Limes and products',
             'Grapefruit and products','Sugar cane']

vegetables = ['Potatoes and products','Vegetables, Other','Starchy Roots','Vegetables','Sweet potatoes',
              'Roots, Other','Onions','Plantains','Pimento','Aquatic Plants','Yams','Sugar beet']


sugars_sweeteners = ['Sugar (Raw Equivalent)','Sweeteners, Other','Sugar Crops',
                      'Sugar & Sweeteners','Sugar non-centrifugal']

legumes = ['Pulses, Other and products','Coffee and products','Cocoa Beans and products', 'Pulses'
          'Beans','Peas','Soyabeans','Groundnuts (Shelled Eq)']

nuts_seeds = ['Nuts and products','Coconuts - Incl Copra','Sesame seed','Treenuts','Rape and Mustardseed',
              'Palm kernels','Sunflower seed','Cottonseed']

oils = ['Soyabean Oil','Groundnut Oil','Sunflowerseed Oil','Rape and Mustard Oil','Cottonseed Oil',
        'Palm Oil','Sesameseed Oil','Olive Oil','Oilcrops Oil, Other','Oilcrops','Vegetable Oils',
        'Oilcrops, Other','Maize Germ Oil','Coconut Oil','Palmkernel Oil','Ricebran Oil']

beverages = ['Tea (including mate)','Wine','Beer','Beverages, Alcoholic',
             'Alcoholic Beverages','Beverages, Fermented']

spices = ['Pepper','Spices, Other','Spices','Cloves']

meat = ['Bovine Meat','Mutton & Goat Meat','Poultry Meat','Meat, Other','Meat','Pigmeat']

sea_food = ['Freshwater Fish','Fish, Seafood','Demersal Fish','Pelagic Fish','Marine Fish, Other','Crustaceans',
                'Cephalopods','Molluscs, Other','Aquatic Animals, Others','Aquatic Products, Other','Meat, Aquatic Mammals']

dairy = ['Butter, Ghee','Cream','Eggs','Milk - Excluding Butter','Infant food']

other_animal_products = ['Honey','Fish, Body Oil','Fish, Liver Oil','Offals','Offals, Edible','Animal fats','Fats, Animals, Raw']

misc = ['Stimulants','Miscellaneous']

In [17]:
# Introducing food categories

grains = '|'.join(grains)
vegetables = '|'.join(vegetables)
fruits = '|'.join(fruits)
sugars_sweeteners = '|'.join(sugars_sweeteners)
legumes = '|'.join(legumes)
nuts_seeds = '|'.join(nuts_seeds)
oils = '|'.join(oils)
beverages = '|'.join(beverages)
spices = '|'.join(spices)
meat = '|'.join(meat)
sea_food = '|'.join(sea_food)
dairy = '|'.join(dairy)
other_animal_products = '|'.join(other_animal_products) 
misc = '|'.join(misc)

In [18]:
grains

'R|i|c|e| |(|M|i|l|l|e|d| |E|q|u|i|v|a|l|e|n|t|)|||W|h|e|a|t| |a|n|d| |p|r|o|d|u|c|t|s|||B|a|r|l|e|y| |a|n|d| |p|r|o|d|u|c|t|s|||M|a|i|z|e| |a|n|d| |p|r|o|d|u|c|t|s|||M|i|l|l|e|t| |a|n|d| |p|r|o|d|u|c|t|s|||C|e|r|e|a|l|s|,| |O|t|h|e|r|||C|e|r|e|a|l|s| |-| |E|x|c|l|u|d|i|n|g| |B|e|e|r|||R|y|e| |a|n|d| |p|r|o|d|u|c|t|s|||O|a|t|s|||S|o|r|g|h|u|m| |a|n|d| |p|r|o|d|u|c|t|s|||C|a|s|s|a|v|a| |a|n|d| |p|r|o|d|u|c|t|s'

In [19]:
fruits

'O|l|i|v|e|s| |(|i|n|c|l|u|d|i|n|g| |p|r|e|s|e|r|v|e|d|)|||O|l|i|v|e|s| |(|i|n|c|l|u|d|i|n|g| |p|r|e|s|e|r|v|e|d|)|||T|o|m|a|t|o|e|s| |a|n|d| |p|r|o|d|u|c|t|s|||O|r|a|n|g|e|s|,| |M|a|n|d|a|r|i|n|e|s|||C|i|t|r|u|s|,| |O|t|h|e|r|||B|a|n|a|n|a|s|||A|p|p|l|e|s| |a|n|d| |p|r|o|d|u|c|t|s|||P|i|n|e|a|p|p|l|e|s| |a|n|d| |p|r|o|d|u|c|t|s|||D|a|t|e|s|||G|r|a|p|e|s| |a|n|d| |p|r|o|d|u|c|t|s| |(|e|x|c|l| |w|i|n|e|)|||F|r|u|i|t|s|,| |O|t|h|e|r|||F|r|u|i|t|s| |-| |E|x|c|l|u|d|i|n|g| |W|i|n|e|||L|e|m|o|n|s|,| |L|i|m|e|s| |a|n|d| |p|r|o|d|u|c|t|s|||G|r|a|p|e|f|r|u|i|t| |a|n|d| |p|r|o|d|u|c|t|s|||S|u|g|a|r| |c|a|n|e'

In [20]:
# Defining group names to the food patterns

import warnings
warnings.filterwarnings('ignore')
food["Category"] = ""
food["Category"][food['Item'].str.contains(grains)] = "Grains"
food["Category"][food['Item'].str.contains(vegetables)] = "Vegetables"
food["Category"][food['Item'].str.contains(fruits)] = "Fruits"
food["Category"][food['Item'].str.contains(sugars_sweeteners)] = "Sugars_sweeteners"
food["Category"][food['Item'].str.contains(legumes)] = "Legumes"
food["Category"][food['Item'].str.contains(nuts_seeds)] = "Nuts_seeds"
food["Category"][food['Item'].str.contains(oils)] = "Oils"
food["Category"][food['Item'].str.contains(beverages)] = "Beverages"
food["Category"][food['Item'].str.contains(spices)] = "Spices"
food["Category"][food['Item'].str.contains(meat)] = "Meat"
food["Category"][food['Item'].str.contains(sea_food)] = "Sea_food"
food["Category"][food['Item'].str.contains(dairy)] = "Dairy"
food["Category"][food['Item'].str.contains(other_animal_products)] = "other_animal_products"
food["Category"][food['Item'].str.contains(misc)] = "Misc"

In [21]:
food.Category.value_counts()

Misc    1138281
Name: Category, dtype: int64

In [22]:
# Searching for remaining ungrouuped values 
food.loc[food.Category == '']['Item'].value_counts()

Series([], Name: Item, dtype: int64)

In [23]:
food

,Area,Item,Element,Year,Weight (1000 tons),Category
0,Afghanistan,Wheat and products,Food,1961,1928.0,Misc
1,Afghanistan,Rice (Milled Equivalent),Food,1961,183.0,Misc
2,Afghanistan,Barley and products,Feed,1961,76.0,Misc
3,Afghanistan,Barley and products,Food,1961,237.0,Misc
4,Afghanistan,Maize and products,Feed,1961,210.0,Misc
...,...,...,...,...,...,...
1138276,Zimbabwe,Milk - Excluding Butter,Food,2013,451.0,Misc
1138277,Zimbabwe,"Fish, Seafood",Feed,2013,15.0,Misc
1138278,Zimbabwe,"Fish, Seafood",Food,2013,40.0,Misc
1138279,Zimbabwe,"Aquatic Products, Other",Food,2013,0.0,Misc
1138280,Zimbabwe,Miscellaneous,Food,2013,0.0,Misc

In [24]:
food.loc[food.Area == 'Mexico']

,Area,Item,Element,Year,Weight (1000 tons),Category
12721,Mexico,Wheat and products,Feed,1961,56.0,Misc
12722,Mexico,Wheat and products,Food,1961,1108.0,Misc
12723,Mexico,Rice (Milled Equivalent),Food,1961,132.0,Misc
12724,Mexico,Barley and products,Feed,1961,21.0,Misc
12725,Mexico,Barley and products,Food,1961,1.0,Misc
...,...,...,...,...,...,...
1129653,Mexico,Milk - Excluding Butter,Food,2013,13685.0,Misc
1129654,Mexico,"Fish, Seafood",Feed,2013,224.0,Misc
1129655,Mexico,"Fish, Seafood",Food,2013,1280.0,Misc
1129656,Mexico,"Aquatic Products, Other",Food,2013,19.0,Misc
1129657,Mexico,Miscellaneous,Food,2013,0.0,Misc

In [25]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138281 entries, 0 to 1138280
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Area                1138281 non-null  object
 1   Item                1138281 non-null  object
 2   Element             1138281 non-null  object
 3   Year                1138281 non-null  int32
 4   Weight (1000 tons)  1020831 non-null  float64
 5   Category            1138281 non-null  object
dtypes: float64(1), int32(1), object(4)
memory usage: 47.8+ MB